* {
	font-family: 'Muli', sans-serif;
}

body {
	margin: auto 0;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 18px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #2e0b77;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  line-height: 55px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  vertical-align: middle;
  padding: 0 20px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.logo img {
	height: 30px;
	vertical-align: middle;
	padding-bottom: 5px;
}

/* Add an active class to highlight the current page */
.active {

}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Main content */
.main {
  margin-top: 48px; /* Add a top margin to avoid content overlay */
}

.picwindow img {
	width: 100%;
	height: 600px;
	object-fit: cover;
	object-position: 85% 15%;
}

.picwindowabout img {
	width: 100%;
	height: 600px;
	object-fit: cover;
	object-position: 50% 40%;
}

.picwindowshelters img {
	width: 100%;
	height: 600px;
	object-fit: cover;
	object-position: 50% 14%;
}


.textsection {
	padding: 10px 20px;
}

/*Photo Grid*/

/* mak images fill their container*/
.photogrid img {
	max-width: 100%;
}
.photogrid img:hover {
	opacity: 0.5;
	cursor: pointer;
}

.vert {
	grid-row: span 2;
}

/* CSS Grid*/
.photogrid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 5px;
}

.igtitle {
	padding-top: 20px;
}

footer {
	background-color: black;
	color: white;
	padding: 10px;
	text-align: center;
	margin-top: 10px;
}

footer i {
	padding: 20px;
}

.igcontainer {
	padding: 20px;
}

/*MEDIA QUERIES*/
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Media Query for changing grid on bigger screens*/

/* Bigger than Phones(tablet) */
@media only screen and (min-width: 750px) {
	.photogrid {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Bigger than Phones(laptop / desktop) */
@media only screen and (min-width: 970px) {
	.photogrid {
		grid-template-columns: repeat(4, 1fr);
	}

}